//- components/experience-item.pug
mixin experience-item (company,position,dates,description,projects,tags)
  article.experience__item
    h3.title-3= company
    h4= position
    h5= dates
    .wysiwyg
      p= description
      p= projects
    
    ul.tags
      each tag in tags
        li.tag__item= tag